.content {
    height: 2000px;

}

.app {
    width: 200%;
    border: 1px solid black;
    text-align: center;
    height:300%;
}
.item {
    background-color: springgreen;
    height: 150px;
    margin: auto;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
    margin-top: 150%;
    border-radius: 5px;
    margin-right: 0px;
}
button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 15%;
}
